[submodule "OCA/reporting-engine"]
	path = OCA/reporting-engine
	url = https://github.com/OCA/reporting-engine.git
	branch = 15.0

[submodule "Logicasoft/base"]
	path = Logicasoft/base
	url = git@github.com:Logicasoft/base.git
	branch = 16.0
